h3 { 
    text-align: center; 
    font-weight: bold; 
    font-variant: small-caps; 
    font-size: 0.85em; 
    margin: 0.9em 0 0.6em 0;
}

ul {
    list-style-type: square; 
    margin-left: 0.5em;
}

li, p { 
    font-size: 0.75em; 
    text-align: left;
}
